langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
python-dotenv
requests==2.32.3
youtube-transcript-api==0.6.2
Flask==3.0.3
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
youtube_transcript_api
youtube-transcript-api 
openai 
pinecone
streamlit
yt-dlp